[webservers]
{{ for vm in var.web_vms }}
{{ vm.name }} ansible_host={{ vm.external_ip }} fqdn={{ vm.fqdn }}
{{ endfor }}

[databases]
{{ for vm in var.db_vms }}
{{ vm.name }} ansible_host={{ vm.external_ip }} fqdn={{ vm.fqdn }}
{{ endfor }}

[storage]
{{ for vm in var.storage_vms }}
{{ vm.name }} ansible_host={{ vm.external_ip }} fqdn={{ vm.fqdn }}
{{ endfor }}
